site_name: ">tome"

nav:
  - Introduction: index.md
  - "Using tome scripts": use_tome.md
  - "Creating tome scripts": create_tome.md
  - "Debugging tome scripts": debug_tome.md
  - "Testing scripts": test_tome.md
  - FAQ: faq.md

theme:
  name: material
  font: false
  favicon: images/favicon.ico
  logo: images/favicon.ico
  palette:
    - scheme: default
      primary: custom
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: custom
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
    - content.code.copy
    - content.tabs.link

plugins:
  - mkdocstrings

extra_css:
  - stylesheets/tome.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
